<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>

    <title>Home</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="container mt-3">
      <h1 class="mb-4">-- The Blog</h1>
      <h2><%= blog.title %></h2>
      <img src="/<%= blog.coverImageURL %>" width="800px" alt="coverImage" />
      <pre class="mt-3"><%= blog.body %></pre>
    </div>

    <div class="container mt-4">
      <img src="<%= blog.createdBy.profileImageUrl %>" width="50px" alt="" />
      &nbsp; <%= blog.createdBy.fullName %>
      <%= blog.createdBy.profileImageUrl %>
    </div>


    <div class="container mt-4">
      <h1>Comments: (<%= comments.length %>) </h1>

      <% if (locals.user) { %>
      <form action="/blog/comment/<%= blog._id %>" method="POST">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Enter your comment"
            name="content"
          />
        </div>

        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
      </form>
      <% } %>
      <div class="mt-3">
        <% comments.forEach(comment => { %>
        <img
          src="<%= comment.createdBy.profileImageUrl %>"
          width="50px"
          alt=""
        />
        &nbsp; <%= comment.createdBy.fullName %> <pre><%= comment.content %> </pre> </pre><% }) %>
      </div>
    </div>

    <%- include("./partials/scripts") %>
  </body>
</html>
