<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>

    <title>Home</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="container mt-3">
      <h1>All Blogs</h1>
      <div class="row row-cols-3">
        <% blogs.forEach(blog => { %>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="<%= blog.coverImageURL %>"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title"><%= blog.title %></h5>
              <p class="card-text"><%= blog.body %></p>
              <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <%- include("./partials/scripts") %>
  </body>
</html>
